In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
df = pd.read_csv(r"C:\Users\yamti\Downloads\30af8da4-7586-4b00-ac88-c5ee75251632.csv", encoding="utf-8")

In [9]:
df.head()

,alina_id,website,alina_description,alina_description_eng,alina_name,alina_eng_name,district,district_en,available_space,occupied_space,...,open_to_market,geom,contact_name,contact_role,contact_email,contact_phone,contact_mobile,small_factories,medium_factories,big_factories
0,1,NaN,NaN,NaN,אבו קרינאת,Abu Krinat,דרום,South,32779,22925,...,True,POLYGON ((198094.22559999954 561078.4010000005...,מוטי חדד מ.א נווה מדבר,NaN,motihad@nevemidbar.org.il,050-6830404,NaN,אבו קרינאת חסן<br>יזם לא ידוע<br>עשיבה מחמד<br...,NaN,NaN
1,3,NaN,NaN,NaN,אבשלום,Avshalom,דרום,South,103904,74787,...,True,"POLYGON ((136526.00399999972 566615, 136653.39...",NaN,NaN,NaN,NaN,NaN,"ברויט פרויקטים בע""מ<br>חלוצית ארבע - כפר שיתו...","גידולי שדה חולות בע""מ",NaN
2,5,NaN,NaN,NaN,אום אל חנוכ,Umm al-Hanok,חיפה-צפון,Haifa and the North,3725,35410,...,True,POLYGON ((215768.88570000045 715947.2203000001...,NaN,NaN,NaN,NaN,NaN,"שיש נמר ובניו בע""מ<br>אגבאריה מוסטפא<br>דלתות ...",NaN,NaN
3,7,https://ofaqimindustry.co.il/,"<p>העיר אופקים נמצאת במחוז דרום, כאשר אזור התע...",<p>The city Ofakim is situated in the southern...,אופקים,Ofakim,דרום,South,12785,268230,...,True,MULTIPOLYGON (((165166.23579999991 580242.4701...,החברה הכלכלית אופקים,NaN,AlkabetsA@hcl.co.il,050-6990397,NaN,"א. פ. ט. אדוונסד פאואר טכנולוגי בע""מ<br>אוסקר ...","שניב תעשיות נייר בע""מ<br>ע.רן שיווק כיטוב בע""מ...",NaN
4,11,NaN,NaN,NaN,אילות,Eilot rope,דרום,South,0,0,...,True,MULTIPOLYGON (((206472.37820000015 423715.9531...,נדב סטרק - מנהל אזורי התעשייה חבל אילות,NaN,stark@hub-eilot.co.il,0523933706,NaN,NaN,NaN,NaN

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   alina_id               59 non-null     int64
 1   website                18 non-null     object
 2   alina_description      18 non-null     object
 3   alina_description_eng  18 non-null     object
 4   alina_name             59 non-null     object
 5   alina_eng_name         59 non-null     object
 6   district               57 non-null     object
 7   district_en            57 non-null     object
 8   available_space        59 non-null     int64
 9   occupied_space         59 non-null     int64
 10  future_employees       59 non-null     int64
 11  current_employees      59 non-null     int64
 12  open_to_market         59 non-null     bool
 13  geom                   47 non-null     object
 14  contact_name           40 non-null     object
 15  contact_role           0 non-null      float64
 16  contact_email          40 non-null     object
 17  contact_phone          37 non-null     object
 18  contact_mobile         0 non-null      float64
 19  small_factories        30 non-null     object
 20  medium_factories       22 non-null     object
 21  big_factories          11 non-null     object
dtypes: bool(1), float64(2), int64(5), object(14)
memory usage: 9.9+ KB