In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
df = pd.read_csv(r"C:\Users\yamti\Downloads\30af8da4-7586-4b00-ac88-c5ee75251632.csv", encoding="utf-8")

In [9]:
df.head()

,alina_id,website,alina_description,alina_description_eng,alina_name,alina_eng_name,district,district_en,available_space,occupied_space,...,open_to_market,geom,contact_name,contact_role,contact_email,contact_phone,contact_mobile,small_factories,medium_factories,big_factories
0,1,NaN,NaN,NaN,אבו קרינאת,Abu Krinat,דרום,South,32779,22925,...,True,POLYGON ((198094.22559999954 561078.4010000005...,מוטי חדד מ.א נווה מדבר,NaN,motihad@nevemidbar.org.il,050-6830404,NaN,אבו קרינאת חסן<br>יזם לא ידוע<br>עשיבה מחמד<br...,NaN,NaN
1,3,NaN,NaN,NaN,אבשלום,Avshalom,דרום,South,103904,74787,...,True,"POLYGON ((136526.00399999972 566615, 136653.39...",NaN,NaN,NaN,NaN,NaN,"ברויט פרויקטים בע""מ<br>חלוצית ארבע - כפר שיתו...","גידולי שדה חולות בע""מ",NaN
2,5,NaN,NaN,NaN,אום אל חנוכ,Umm al-Hanok,חיפה-צפון,Haifa and the North,3725,35410,...,True,POLYGON ((215768.88570000045 715947.2203000001...,NaN,NaN,NaN,NaN,NaN,"שיש נמר ובניו בע""מ<br>אגבאריה מוסטפא<br>דלתות ...",NaN,NaN
3,7,https://ofaqimindustry.co.il/,"<p>העיר אופקים נמצאת במחוז דרום, כאשר אזור התע...",<p>The city Ofakim is situated in the southern...,אופקים,Ofakim,דרום,South,12785,268230,...,True,MULTIPOLYGON (((165166.23579999991 580242.4701...,החברה הכלכלית אופקים,NaN,AlkabetsA@hcl.co.il,050-6990397,NaN,"א. פ. ט. אדוונסד פאואר טכנולוגי בע""מ<br>אוסקר ...","שניב תעשיות נייר בע""מ<br>ע.רן שיווק כיטוב בע""מ...",NaN
4,11,NaN,NaN,NaN,אילות,Eilot rope,דרום,South,0,0,...,True,MULTIPOLYGON (((206472.37820000015 423715.9531...,נדב סטרק - מנהל אזורי התעשייה חבל אילות,NaN,stark@hub-eilot.co.il,0523933706,NaN,NaN,NaN,NaN

In [11]:
df.columns

Index(['alina_id', 'website', 'alina_description', 'alina_description_eng',
       'alina_name', 'alina_eng_name', 'district', 'district_en',
       'available_space', 'occupied_space', 'future_employees',
       'current_employees', 'open_to_market', 'geom', 'contact_name',
       'contact_role', 'contact_email', 'contact_phone', 'contact_mobile',
       'small_factories', 'medium_factories', 'big_factories'],
      dtype='object')

In [26]:
df["district"]

0           דרום
1           דרום
2      חיפה-צפון
3           דרום
4           דרום
5           דרום
6           דרום
7           יו"ש
8           יו"ש
9           דרום
10     חיפה-צפון
11    ת"א והמרכז
12     חיפה-צפון
13          דרום
14       ירושלים
15       ירושלים
16          דרום
17     חיפה-צפון
18          דרום
19     חיפה-צפון
20     חיפה-צפון
21          יו"ש
22          דרום
23          דרום
24          דרום
25          דרום
26          דרום
27          יו"ש
28          דרום
29       ירושלים
30          דרום
31          דרום
32          דרום
33          דרום
34          דרום
35    ת"א והמרכז
36          דרום
37       ירושלים
38          דרום
39          דרום
40     חיפה-צפון
41     חיפה-צפון
42     חיפה-צפון
43       ירושלים
44       ירושלים
45     חיפה-צפון
46          יו"ש
47          דרום
48          דרום
49          יו"ש
50       ירושלים
51          דרום
52     חיפה-צפון
53          דרום
54     חיפה-צפון
55          דרום
56           NaN
57           NaN
58    ת"א והמרכז
Name: district, dtype: object